/* You can add global styles to this file, and also import other style files */
nav ul {
	display: inline-block;
}

nav ul li {
	list-style: none;
}

main, main .mensagens {
	display: flex;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	flex-flow: column nowrap;
}

main .chart, main .mensagem, main .mensagens {
	flex: 0 1 auto;
}

main .mensagens {
	flex-flow: row nowrap;
}